/* add styles here */

body {
  font:1em Helvetica, sans-serif;
 	padding:0px;
	margin: 0px;
}

h1 {
  margin-top:0;
}

.document {
	position: relative;
	background-color: gray;
	width: 1000px;
	height: 1000px;
}

.node {
	position: absolute;
	border: 10px solid black;
	border-radius: 20px;
	background-color: white;
	width: 100px;
	height: 10px;
	z-index: 1;   
	
	-webkit-user-select: none;
	-moz-user-select: none;
	cursor:pointer;
}

.link {
	position: absolute;
	border-top: 3px solid black;
	background-color: transparent;
	width: 10px;
	height: 10px;
}
.editable {
	border: 10px solid gray;
	-webkit-user-select: text;
	-moz-user-select: text;
	cursor:text;
}
.content {
	position: relative;
	top: 50%;
	margin: 0px;
	padding: 0px;
	text-align: center;
	word-wrap: normal !important;
}