/* add styles here */

body {
  font:1em Helvetica, sans-serif;
 	padding:0px;
	margin: 0px;
}

h1 {
  margin-top:0;
}

.document {
	position: relative;
	background-color: gray;
	width: 1000px;
	height: 1000px;
}

.node {
	position: absolute;
	border: 10px solid black;
	border-radius: 20px;
	background-color: white;
	width: 10px;
	height: 10px;
}
.editable {
	border: 1em solid gray;
}
.content {
	padding: 1em;
	text-align: center;
}